@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: "Switzer", sans-serif;
	src: url("'https://fonts.cdnfonts.com/css/switzer'");
	font-weight: normal;
	font-style: normal;
}

@layer base {
	:root {
		color-scheme: light;
		--theme-bg: 250 250 250;
		--theme-link: 255, 165, 0;
		--theme-text: 34 39 42;
		--theme-accent: 34 39 42;
		--theme-accent-2: 17 17 17;
		--theme-quote: 204 42 66;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 29 31 33;
		--theme-link: 239, 108, 0;
		--theme-text: 201 202 204;
		--theme-accent: 201 202 204;
		--theme-accent-2: 238 238 238;
		--theme-quote: 204 255 182;
	}

	html {
		@apply h-full scroll-smooth;
		font-family: "Switzer", sans-serif;
	}

	html body {
		@apply mx-auto flex h-full max-w-3xl flex-col bg-bgColor px-8 pt-16   font-normal text-textColor antialiased;
		font-family: "Switzer", sans-serif;
	}
}
