---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-astro.png";

const meta = {
	title: "About",
	description: "Some things about me",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="font-bold lg:text-4xl">About</h1>
		<Image
			src={aboutImg}
			class="mx-auto mt-10 w-80 rounded-xl"
			alt="portfolio image"
			loading="eager"
			fetchpriority="high"
		/>

		<p>
			Frontend aficionado based in sunny Southern California. A self-taught developer deeply
			passionate about emerging frontend technologies, including React, Next.js, JavaScript, and
			TypeScript. My interests extends to AI, functional UI/UX designs, and pioneering web
			experiences that transcend convention.
		</p>
		<div class="flex justify-center"></div>
		<h1 class="title">Experience:</h1>

		<ul class="list-inside list-disc">
			<li>
				Part of the development team for <a href="https://expungeassist.org/#/"
					><strong>Expunge Assist</strong>
				</a>
				<br class="text-sm" /> Aug 2023 - Current
			</li>
			<li class="mt-2">
				Freelance Frontend Developer
				<br /> View some of my work <a href="https://www.hasham.xyz/posts/"
					><strong>here</strong>

					<br class="text-sm" /> Oct 2022 - Current
				</a>
			</li>
		</ul>
		<p class="mt-8">
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/hasham-qaiser/astro-portfolio"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
