---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-astro.png";

const meta = {
	title: "About",
	description: "Some things about me",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<Image
			src={aboutImg}
			class="mx-auto mt-10 w-80 rounded-xl"
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			loading="eager"
			fetchpriority="high"
		/>

		<p>
			Frontend aficionado based in sunny Southern California. A self-taught developer deeply
			passionate about emerging frontend technologies, including React, Next.js, JavaScript, and
			TypeScript. My interests extends to AI, functional UI/UX designs, and pioneering web
			experiences that transcend convention.
		</p>
		<div class="flex justify-center"></div>
		<p>Here are my some of my favorite programming languages and other things I love:</p>
		<ul class="list-inside list-disc">
			<li>HTML</li>
			<li>React</li>
			<li>Next.Js</li>
			<li>Tailwind</li>
			<li>JavaScript</li>
			<li>Typescript</li>
			<li>Art</li>
		</ul>
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/hasham-qaiser/astro-portfolio"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
