---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import TechBadge from "../components/TechBadge.astro";
import { technologies } from "../utils/data";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

interface TechBadgeProps {
	name: string;
	imgSrc: string;
	altSrc: string;
	link: string;
}
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-3">Hey there!</h1>
		<p class="mt-4 text-left">
			I’m Hasham. Frontend dev interested in<strong> web development</strong> and <strong
				>UI/UX design.</strong
			> Currently looking for a full-time role, Lets connect!
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>

		<p class="mb-4 text-left">
			I've worked on several projects in the past, some of which are ongoing works in progress.
			Lately, I've developed a keen interest in open-source initiatives, and at the moment, I'm
			actively contributing to
			<a
				href="https://expungeassist.org/#/"
				target="_blank"
				class="mb-4 rounded-lg px-2 py-1 hover:bg-green-300 hover:text-gray-900"
				><strong>Expunge Assist</strong>
			</a>
		</p>

		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<p class="mt-4 text-left">
			I like playing around and learning new programming languages, frameworks and libraries. These
			are the technologies that I love working with:
		</p>
		<div class="mt-10 grid grid-cols-2 gap-y-5 md:grid-cols-3 md:gap-x-4 md:gap-y-8">
			{
				technologies.map((tech: TechBadgeProps) => (
					<a href={tech.link} class="cursor-pointer text-gray-300">
						<TechBadge {...tech} />
					</a>
				))
			}
		</div>
	</section>
</PageLayout>
