---
import { Icon } from "astro-icon";



const socialLinks = [
	{
		name: "github",
		friendlyName: "Github",
		link: "https://github.com/hasham-qaiser",
	},
	{
		name: "Twittertwo",
		friendlyName: "x",
		link: "https://x.com/hashq_",
	},
	{
		name: "linkedin",
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/hasham-qaiser/",
	},
	{
		name: "mail",
		friendlyName: "Email",
		link: "mailto:hashamqaiser24@gmail.com",
	},
];
---

<div class="flex flex-wrap items-end gap-x-4">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ link, name, friendlyName }) => (
				<li class="flex">
					<a
						class="inline-block p-1 hover:text-[#EF6C00]"
						href={link}
						target="_blank"
						rel="noopener noreferrer"
					>
						<Icon class="h-6 w-6" name={name} aria-hidden="true" focusable="false" />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
