<script>
	class ThemeToggle extends HTMLElement {
		constructor() {
			super();
			const button = this.querySelector("button") as HTMLButtonElement;

			if (button) {
				// button clicked, fire event
				button.addEventListener("click", (e) => {
					if (e.currentTarget instanceof HTMLButtonElement) {
						// isPressed === dark mode current on
						let isPressed = e.currentTarget.getAttribute("aria-pressed") === "true";

						// invert isPressed
						let themeChangeEvent = new CustomEvent("theme-change", {
							detail: {
								theme: isPressed ? "light" : "dark",
							},
						});
						// dispatch event -> ThemeProvider.astro
						document.documentElement.dispatchEvent(themeChangeEvent);
						// toggle the aria-pressed attribute
						button.setAttribute("aria-pressed", String(!isPressed));
					}
				});
			}
		}
	}

	customElements.define("theme-toggle", ThemeToggle);
</script>

<theme-toggle class="ms-2 sm:ms-4">
	<button
		type="button"
		id="toggle-theme"
		class="group relative h-9 w-9 rounded-md bg-zinc-200 p-2 ring-[#EF6C00] transition-all hover:ring-2 dark:bg-zinc-700"
		aria-label="Toggle Dark Mode"
	>
		<svg
			id="sun-svg"
			class="absolute start-1/2 top-1/2 h-7 w-7 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-aria-pressed:scale-100 group-aria-pressed:opacity-100"
			aria-hidden="true"
			focusable="false"
			stroke-width="1.5"
			viewBox="0 0 24 24"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-sun"
				><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path d="M12 20v2"
				></path><path d="m4.93 4.93 1.41 1.41"></path><path d="m17.66 17.66 1.41 1.41"></path><path
					d="M2 12h2"></path><path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path
					d="m19.07 4.93-1.41 1.41"></path></svg
			>
		</svg>
		<svg
			id="moon-svg"
			class="absolute start-1/2 top-1/2 h-7 w-7 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-aria-[pressed=false]:scale-100 group-aria-[pressed=false]:opacity-100"
			aria-hidden="true"
			focusable="false"
			stroke-width="1.5"
			viewBox="0 0 24 24"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-moon"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg
			>
		</svg>
	</button>
</theme-toggle>

{/* Inlined to avoid FOUC. */}
<script is:inline>
	const bodyThemeIsDark = document.documentElement.classList.contains("dark");
	const button = document.getElementById("toggle-theme");
	button.setAttribute("aria-pressed", String(bodyThemeIsDark));
</script>
